.home{
    /* border: 2px solid red; */
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    color: #fff;
}
.homeContainer{
    position: relative;
}
.coverImage{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: -2;
}
.coverImage img{
    width: 100vw;
    height: 100vh;
    object-fit:contain;
}
.homeContainer .content{
    padding: 100px;
  
}
.homeContainer h1{
    /* border: 2px solid blue; */
    margin-top: 80px;
    font-size: 90px;
    text-transform: uppercase;
    font-weight: 800;
    background-image: url("../../assets/texure.jpg");
    background-repeat: repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-font-smoothing: antialiased;
}
.coverImage::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 88;
    background: linear-gradient(to right, #0000009f, rgba(0, 0, 0, 0));
}
.homeContainer .rating{
    margin: 10px 0;
}
.rating i{
    color: #e5be9e;
    margin-right: 5px;
}
.rating label{
    margin: 0 20px;
}
.date{
    margin-top: 20px;
}
.disc{
    margin-top: 20px;
}
.primary-btn{
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    background: #e5be9e;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
}
.primary-btn:hover{
    background: #18989c;
}
.playButton{
    display: flex;
    align-items: center;
    justify-content: center;
}
.playButton .img{
    position: relative;
}
.playButton img{
    width: 90px;
    height: 90px;
    margin-right: 20px;
}
.playButton button{
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    background: #e5be9e;
    color: #fff;
    font-weight: 600;
    cursor: pointer;

}
.playButton button:hover{
    background: #18989c;
}

.img i{
    font-size: 30px;
    margin-bottom: 10px;
}
.row{
    width: 50%;
}
p{
    line-height: 30px;
}
.flex{
    display: flex;
}
@media only screen and (max-width:1024px){
    .homeContainer h1{
        font-size: 70px;
        margin: 0;
    }
}
@media only screen and (max-width:768px){
    .homeContainer h1{
        font-size: 50px;
        margin: 0;
    }
    .home{
        position: relative;
        margin: 0;
        height: 60vh !important;
    }
    .coverImage img{
        width: 100vw;
        height: 70vh !important;

    }
    .home .row{
        width: 100%;

    }
    .home .playButton{
        display: none;
    }
    .margin{
        margin-top: 0;
    }
    .homeContainer .content{
        padding: 20px;
    }
}
